{{#if comments}}
<section class="comments-section" aria-labelledby="comments-title">
  <h2 class="comments-title" id="comments-title">{{t "Comments"}}</h2>
  <div class="comments-placeholder">
    <p>{{t "Comments are currently unavailable."}}</p>
  </div>
</section>
{{/if}}
