{{!< default}}

{{#post}}
<article class="post-content container" role="article" itemscope itemtype="https://schema.org/Article">
  <header class="post-header">
    <h1 class="post-full-title" itemprop="headline">{{title}}</h1>
    {{#if custom_excerpt}}
      <p class="post-excerpt text-muted" itemprop="description">{{custom_excerpt}}</p>
    {{/if}}
  </header>

  {{> "toc"}}

  <div class="post-content" itemprop="articleBody">
    {{content}}
  </div>

  {{> "author-box"}}

  {{> "newsletter"}}
  
</article>
{{/post}}
